# Use the testnet in development
# ALEPH_API_URL=https://api.twentysix.testnet.network

# Sender of the aggregate with LTAI token balances
LTAI_BALANCES_AGGREGATE_SENDER=0xCBFc3EeC41CBBfCAcc50337d712890C47a14ba99
# Aggregate key of LTAI token balances
LTAI_BALANCES_AGGREGATE_KEY=tokens

# Sender of the POST subscription messages
SUBSCRIPTION_POST_SENDER=0x00
# Private key of the address to send subscription messages with
SUBSCRIPTION_POST_SENDER_PK=
# Channel on which to send subscription messages
SUBSCRIPTION_POST_CHANNEL=