# -- Blockchain --
LTAI_PAYMENT_PROCESSOR_CONTRACT=0x00
BASE_RPC_URL=https://mainnet.base.org

# -- Database --
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST/$POSTGRES_DB

THIRDWEB_WEBHOOK_SECRET=

# -- Logging --
LOG_LEVEL=INFO
LOG_FILE=

# -- Authentication --
JWT_SECRET=  # Generate a secure random key using: python -c "import secrets; print(secrets.token_hex(32))"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES="43200" # 30 days

ADMIN_SECRET=  # Generate a secure random key using: python -c "import secrets; print(secrets.token_hex(32))"

IS_DEVELOPMENT=False
