# -- Blockchain --
LTAI_PAYMENT_PROCESSOR_CONTRACT_BASE=0x00
LTAI_PAYMENT_PROCESSOR_CONTRACT_SOLANA=0x00
BASE_RPC_URL=https://mainnet.base.org
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_LTAI_MINT_ADDRESS=mntpN8z1d29f3MWhMD7VqZFpeYmbD88MgwS3Bkz8y7u

# -- Database --
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST/$POSTGRES_DB

THIRDWEB_WEBHOOK_SECRET=

# -- Logging --
LOG_LEVEL=INFO
LOG_FILE=

# -- Authentication --
JWT_SECRET=  # Generate a secure random key using: python -c "import secrets; print(secrets.token_hex(32))"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES="1440" # 1 day

ADMIN_SECRET=  # Generate a secure random key using: python -c "import secrets; print(secrets.token_hex(32))"

IS_DEVELOPMENT=False

VOUCHERS_PASSWORDS='["password1", "password2"]'